[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = fabianskier
	email = fabianskier@icloud.com
[alias]
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status
	contributors = shortlog --summary --numbered
	whoami = config user.email
