[user]
	email = fabianskier@icloud.com
	name = fabianskier
	signingkey = 6B98FB04

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = true
