# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Temporary files
*.swp
*.swo
*~
.nfs*

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Zsh / Shell
.zcompdump*
.zsh_sessions

# Ignore tmux plugins managed by TPM
tmux/.config/tmux/plugins/
