# aws s3
export AWS_ACCESS_KEY_ID=replaceme
export AWS_SECRET_ACCESS_KEY=replaceme

# contrib
export CONTRIB_SYS_USER=replaceme
export CONTRIB_SYS_PASSWORD=replaceme

# github token
export GITHUB_TOKEN=replaceme

# npmrc
export NPM_TOKEN=replaceme

# pg_analyze
export PGANALYZE_PASSWORD=replaceme

# userfront
export USERFRONT_API_KEY=development

# Copy to ~/.oh-my-zsh/custom/secrets.zsh
